hardware/#auto_saved_files#
hardware/fp-info-cache
hardware/zynq_sdr_dongle-backups/
hardware/sym-lib-table
hardware/zynq_sdr_dongle.kicad_prl
hardware/zynq_sdr_dongle.kicad_pro
hardware/zynq_sdr_dongle.sch
hardware/*bak
